.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.custom-header-class {
  /* width: 1326px; */
  height: 68px;
  border-radius: 8px;
  border: solid 1px #e4e4e4;
  background-color: #ffffff;
}

.normal-input-class {
  background-color: #ff48c8;
}

.table td, .table th {
  vertical-align: middle;
}

.header-title-class {
  opacity: 0.4;
  /* font-family: ObjektivMk2; */
  /* font-size: 14px; */
  /* font-weight: 500; */
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #22000e;
}

.profile-pic-row {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: #bfb5b9;
}

.img-pic {
  width: 48px;
  height: 48px;
  background-color: #bfb5b9;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.img-pic-small {
  width: 32px;
  height: 32px;
  background-color: #d8d8d8;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.progress-bar {
  width: 60px;
  height: 10px;
  border-radius: 8px;
  background-color: #4AA69F;
}

.progress {
  width: 60px;
  height: 10px;
  border-radius: 8px;
  background-color: #d9f1f1;
}

.custom-row-class {
  height: 68px;
  border-radius: 8px;
  border: solid 1px #e4e4e4;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #22000e;
}

.status-reactangle-class {
  width: 96px;
  padding-left: 5px;
  padding-right: 5px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #22000e;
}

.table-text-class {
  font-family: ObjektivMk2;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #22000e;
}

.table {
  border-collapse: separate; 
  border-spacing:0 4px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/* BILL UPLOAD CMP */

.documents-rectangle-class {
  width: 944px;
  height: 90px;
  display: flex;
  /* justify-content: left; */
  align-items: center;
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border: solid 1px rgba(34, 0, 14, 0.12);
  background-color: #ffffff;
}

.documents-rectangle-button-class {
  width: 93px;
  height: 42px;
  border-radius: 4px;
  background-color: #ff086e;
}

.documents-right-side-text {
  font-size: 16px;
  /* font-weight: 500; */
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff086e;
}

.documents-title-left-side-text {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #22000e;
}

.documents-subtitle-left-side-text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #22000e;
}

.documents-rectangle-icon-class {
  width: 41px;
  height: 48px;
  object-fit: contain;
}